*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1c694;
}
header{
    width: 100%;
    background-color: #dc6378;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-imagem{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50px; 
    margin-left: 3px;
}

.container-logo{
    display: flex;
    align-items: center;
}

.logo-texto{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 25px;
    color: #101652;
    display: flex;
    font-size: 20px;
    margin-inline: 10px;
} 

.menu li{
    display: inline-block;
    margin: 0 10px;
}

.menu li a{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: #101652;
}

.menu li a:hover{
    color: black;
}

.intro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #101652;
    text-align: center;
}

.container-brigadeiro{
    display: flex;
    width: 80%;
    height: 100px;
    background-color: #207178;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50px;
    cursor: pointer;
}

.container-brigadeiro:hover{
    background-color: #1d5e64 ;
}

.brg-img{
    width: 100px;
    height: 70%;
    margin-left: 50px;
    margin-top: 15px;
}

.txt-brg{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: black;
    margin-top: 15px;
    margin-left: 52px;
}

.container-cone{
    width: 80%;
    height: 100px;
    background-color: #207178;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50px;
}

